.qty-btn {
    width: 35px;
    height: 37px;
    transition: all 0.3s ease;
    margin-top: 2px;
    background: #FF9F43;
    position: relative;
}
.qty-btn:hover {
    background: #ff8108;
}
.qty-btn .qty-i {
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 8px;
}